{% extends 'core/base.html' %}

{% block content %}

<form method="GET" action="{% url 'chart' %}">
  {{ form.as_p }}
  <button>Submit</button>
</form>

<h3>Spending Over Time</h3>
{{ line_graph|safe }}

<h3>Cumulative Spending</h3>
{{ cumulative|safe }}

<h3>Expenditure by Category</h3>
{{ pie_graph_category|safe }}

<h3>Expenditure by Financial Institution</h3>
{{ pie_graph_banks|safe }}


<hr>
<h3>All Transactions</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Marchant</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Banking Institution</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in all_transactions %}
      <tr>
        <td>{{transaction.date}}</td>
        <td>{{transaction.merchant}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.category}}</td>
        <td>{{transaction.issuer}}</td>
        <td><a class="btn btn-outline-primary" href="{% url 'update_transaction' transaction.id%}">Update</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}